@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    font-family: 'Open Sans', sans-serif ;
    overflow: hidden;
}

body{
    background-image: url(img/bg-page.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100%;
    background-size: cover;
    height: 100vh;
}

.foto{
    width: 250px;
}

.kiri,.kanan{
    color: white;
    padding-top: 100px;
}

.kiri h1{
    font-weight: 600;
}

.kiri h2{
    font-weight: 200;
}

.tombol{
    background-color: #dddddd;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    margin-left: 30px;
    width: 40px;
    flex-shrink: unset !important;
}

.fb{
    color: white ;
    background-color: rgb(53, 53, 202) ;
    border: 1px solid #ffffff;
    transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.fb:hover{
    background-color: #dddddd;
    color: rgb(53, 53, 202);
    transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 1px solid rgb(53, 53, 202);
}

.tw{
    color: white ;
    background-color: rgb(53, 160, 202) ;
    border: 1px solid #ffffff;
    transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.tw:hover{
    background-color: #dddddd;
    color: rgb(53, 160, 202);
    transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 1px solid rgb(53, 160, 202);
}

.ig{
    color: #ffffff;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    border: 1px solid #ffffff;
    transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ig:hover{
    background: #dddddd;
    color:#d6249f;
    transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 1px solid #d6249f;
}

.gh{
    color: white ;
    background-color: rgb(42, 42, 43) ;
    border: 1px solid #ffffff;
    transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gh:hover{
    background-color: #dddddd;
    color:rgb(42, 42, 43);
    transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 1px solid rgb(42, 42, 43);
}

.web{
    color: white ;
    background-color: rgb(221, 133, 51) ;
    border: 1px solid #ffffff;
    transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.web:hover{
    background-color: #dddddd;
    color: rgb(221, 133, 51);
    transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 1px solid rgb(221, 133, 51);
}


.fa{
    display: inline !important;
    margin-right: 10px
}


